* {
    font-family: open sans;
}

.button {
    border-radius: 3px;
    border: 0px black solid;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #888888;
    display: inline-block;
    margin: 0px 10px;
}

.button:active {
    box-shadow: 0px 0px 8px #888888;
    -moz-user-select: none;
}

code {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    line-height: 2em;
}

.step {
    /*border: 1px solid black;*/
    /*position: relative;*/
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    background-color: rgba(255, 255, 255, .8);
}

.hint {
   /* border: 1px dashed red;*/
    padding: 5px;
    display: none;
}

.initial {
    display: block;
}

body {
    font-size: large;
}

img {
    margin: 20px auto;
    display: block;
    
}

#floater {
  float:left;
 /* height:50%;*/
  margin-bottom:-200px;
}

.step {
  clear:both;
  min-height:500px;
  position:relative;
}

#contribute {
  font-size: small;
  line-height: 1em;
  text-align: center;
  margin: 50px auto;
}

